@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&family=Roboto+Slab:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');

// Variables
:root {
  --primary-color: #47cfac;
  --white: #ececec;
  --black: #393939;
  --deep-black: #22272d;


  --font-main: 'Roboto', sans-serif;
  --font-secondary: 'Roboto Mono', monospace;;
  --font-tertiary: 'Roboto Slab', serif;
}


/* (Opcional) Las adaptamos al modo oscuro */
// @media (prefers-color-scheme: dark) {
//   :root{
//     --white: #393939;
//     --black: #ececec;
//   }
// }

// Mixins
@mixin blogs-button {
  display: inline-block;
  margin-top: 1rem;
  border: 0.1rem solid var(--primary-color);
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  line-height: 1.4rem;

  &:hover {
    cursor: pointer;
    border: 0.1rem solid var(--white);
    color: var(--white);
    background-color: var(--primary-color);
  }
}

@mixin blogs-post--card {
  display: inline-block;
  max-width: 100%;
  margin: 2rem;

  img {
    width: 100%;
    margin-bottom: 1rem;
  }

  h4, p {
    display: inline-block;
    margin-bottom: 1rem;
  }
}

@mixin profile-projects--cards {
  padding: 1rem;
  
  h4 {
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

@mixin grid-container {
  max-width: 98rem;
  margin: auto;
}

@mixin contact {
  width: 100%;
  min-height: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #cdd2da;
  padding-bottom: 7rem;
  gap: 1rem;

  .contact--left {
    grid-column: 1 / 2;
  }

  .contact--rigth {
    grid-column: 2 / 3;
  }

  .contact--left, .contact--rigth {
    display: grid;
    grid-template-columns: 0.5fr 2fr ;
    text-align: initial;
    margin-top: 3rem;

    
    img {
      width: 5rem;
      justify-self: end;
    }

    div {
      display: inline-block;
      margin-left: 1rem;
      padding-top: 0.5rem;

      a {
        border-bottom: 0.1rem solid var(--deep-black);
      }

      p {
        margin-top: 0.5rem;
      }
    }
  }
}