@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&family=Roboto+Slab:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');

// Mixins
:root {
  --primary-color: #47cfac;
  --white: #ececec;
  --black: #393939;
  --deep-black: #22272d;


  --font-main: 'Roboto', sans-serif;;
  --font-secondary: 'Roboto Mono', monospace;;
  --font-tertiary: 'Roboto Slab', serif;
}


/* (Opcional) Las adaptamos al modo oscuro */
// @media (prefers-color-scheme: dark) {
//   :root{
//     --white: #393939;
//     --black: #ececec;
//   }
// }

// Mixins
@mixin blogs-button {
  display: inline-block;
  margin-top: 1rem;
  border: 0.1rem solid var(--primary-color);
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  line-height: 1.4rem;

  &:hover {
    cursor: pointer;
    border: 0.1rem solid var(--white);
    color: var(--white);
    background-color: var(--primary-color);
  }
}

@mixin blogs-post--card {
  display: inline-block;
  max-width: 100%;
  margin: 2rem;

  img {
    width: 100%;
    margin-bottom: 1rem;
  }

  h4, p {
    display: inline-block;
    margin-bottom: 1rem;
  }
}

@mixin grid-container {
  max-width: 98rem;
  margin: auto;
}